body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

input:focus {
  outline: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #fcfcfc;
  position: relative;
  display: flex;
  flex-direction: row;
}

p {
  margin: 0;
}

#menu-bar {
  /* Temporarily remove menubar for IBM Demo */
  display: none;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.left {
  float: left;
}

.bar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.bar a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

* {
  box-sizing: border-box;
}

#graph-container {
  flex: 1;
  height: 100%;
}

#console {
  flex: initial;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px 0px 0px 20px;
  background: #fff;
  border-right: solid 3px #eee;
}

#logo {
  flex: initial;
  font-size: 22px;
  padding-right: 20px;
  margin-bottom: 10px;
  position: relative;
}

#query-container {
  flex: initial;
  position: relative;
  padding-right: 20px;
}

#query {
  position: relative;
  width: 100%;
  border-width: 0 0 3px 0;
  border-bottom: solid 1px #b2b2b2;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  padding: 7px 0;
  text-align: left;
}

#chatbox {
  margin-top: 20px;
  overflow: auto;
  padding-right: 20px;
  flex: 1;
}

.input,
.response {
  font-size: 13px;
  font-weight: 400;
  padding: 7px 10px 10px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
}

.input {
  border: solid 1px #3498DB;
  color: #3498DB;
  text-align: right;
  margin-right: 30px;
}
.input::before {
  font-family: "Ionicons";
  content: "\f3a0";
  position: absolute;
  font-size: 20px;
  right: -25px;
  top: 5px;
}

.response {
  border: solid 1px #E74C3C;
  color: #E74C3C;
  margin-left: 30px;
  word-break: break-word;
}

.response::before {
  font-family: "Ionicons";
  content: "\f2c4";
  position: absolute;
  font-size: 20px;
  left: -30px;
  top: 5px;
}

.response .progress {
  position: relative;
  border: solid 1px;
  border-radius: 5px;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
}

.response .progress .bar {
  border-radius: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(231, 76, 60, 0.3);
  transition: width 300ms;
}

.infobox {
  width: auto !important;
}

.infobox th[scope="row"] {
  text-align: right;
  padding-right: 10px;
  font-size: 12px;
  vertical-align: top;
  word-break: normal;
}

.infobox th a {
  color: inherit;
  text-decoration: none;
}

.infobox td {
  vertical-align: top;
  color: #666;
}

.infobox td a {
  color: rgba(231, 76, 60, 0.7);
}

.infobox ul {
  margin: 0;
  padding-left: 20px;
}

.infobox caption.fn {
  margin-bottom: 20px;
}

.infobox * {
  white-space: normal !important;
}

.result {
  margin-bottom: 5px;
}

button.add {
  border-radius: 5px;
  color: #fff;
  border: 0;
  background: rgba(231, 76, 60, 0.7);
  padding: 5px 20px;
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

button.add i:before {
  vertical-align: middle;
  font-size: 12px;
  margin-left: 5px;
}

button.search {
  border-radius: 5px;
  color: #fff;
  border: 0;
  background: rgba(231, 76, 60, 0.7);
  padding: 5px 20px;
  margin-right: 10px;
}


#toggle-list-of-commands {
  color: #aaa;
  z-index: 100;
  border: solid 1px #aaa;
  font-size: 13px;
  padding: 2px 5px;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
}

#toggle-list-of-commands:hover #list-of-commands {
  display: block;
}

#list-of-commands {
  display: none;
  position: absolute;
  color: #666;
  background: #fff;
  padding: 20px;
  border: solid 1px #aaa;
  border-radius: 5px;
  font-family: inherit;
  left: 0;
  top: 20px;
}

#list-of-commands b {
  font-weight: 500;
}

.menu{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.menu input#search{
  width: 300px;
  height: 50px;
  background-color: #333;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  float: left;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #65737e;
}

.menu input#search::-webkit-input-placeholder {
   color: #65737e;
}

.menu input#search:-moz-placeholder { // Firefox 18-
   color: #65737e;
}

.menu input#search::-moz-placeholder {  // Firefox 19+
   color: #65737e;
}

.menu input#search:-ms-input-placeholder {
   color: #65737e;
}

.menu .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;

   -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.menu input#search:focus, .menu input#search:active{
    outline:none;
    background-color: #111;
}

.menu:hover .icon{
  margin-top: 16px;
  color: #93a2ad;

  -webkit-transform:scale(1.5); // Safari and Chrome
  -moz-transform:scale(1.5); // Firefox
  -ms-transform:scale(1.5); // IE 9
  -o-transform:scale(1.5); // Opera
   transform:scale(1.5);
}
